# Data Exploration and Cleaning

In this notebook and as this part of the process, we will pursue a high level understanidng of the data and do some cleaning to make sure we don't have any dirty data at the beginning of our analysis. This inclues looking at columns and data types, ensuring these data types are correct, handling missing or null values in the data, and engineering the initial set of features for our analysis and eventual model building. 

## Import Libraries and Data

In [34]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
import os 
print(os.getcwd())
os.chdir('C:/Users/Joseph/source/repos/Kaggle-SpaceShip-Titanic-Competition-1/')
print(os.getcwd())

C:\Users\Joseph\source\repos\Kaggle-SpaceShip-Titanic-Competition-1
C:\Users\Joseph\source\repos\Kaggle-SpaceShip-Titanic-Competition-1

## View the Data

In [13]:
sample_submission = pd.read_csv('sample_submission.csv.crdownload')
sample_submission

     PassengerId  Transported
0        0013_01        False
1        0018_01        False
2        0019_01        False
3        0021_01        False
4        0023_01        False
...          ...          ...
3166     6935_01        False
3167     6936_01        False
3168     6936_02        False
3169     6936_03        False
3170     6938_01        False

[3171 rows x 2 columns]

In [35]:
test_df = pd.read_csv('test.csv')
train_df = pd.read_csv('train.csv')

train_df.head(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
5,0005_01,Earth,False,F/0/P,PSO J318.5-22,44.0,False,0.0,483.0,0.0,291.0,0.0,Sandie Hinetthews,True
6,0006_01,Earth,False,F/2/S,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,0.0,0.0,Billex Jacostaffey,True
7,0006_02,Earth,True,G/0/S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,NaN,Candra Jacostaffey,True
8,0007_01,Earth,False,F/3/S,TRAPPIST-1e,35.0,False,0.0,785.0,17.0,216.0,0.0,Andona Beston,True
9,0008_01,Europa,True,B/1/P,55 Cancri e,14.0,False,0.0,0.0,0.0,0.0,0.0,Erraiam Flatic,True

Looking at the top ten rows from the dataframe above, we can see that our output variable is Transported while our other variables are predictors.

## Explore the data at a high level

As the first part of our initial exploration, we can look at the data types as well as the general structure of the dataset- specifically looking at the train data with the understanding that we can adjust the training data once we have our null values handled and our initial features identified.

In [36]:
train_df.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

We see that while Cryosleep and VIP are defined as object dtypes, the are boolean data types when looking at the actual data, so we can adjust these two right away. 

And while we are working through the adjustments in train_df, we will do the same thing with the test_df.

In [38]:
train_df["CryoSleep"] = train_df["CryoSleep"].astype(bool)
test_df["CryoSleep"] = test_df["CryoSleep"].astype(bool)
train_df["VIP"] = train_df["VIP"].astype(bool)
test_df["VIP"] = test_df["VIP"].astype(bool)

train_df.dtypes

PassengerId      object
HomePlanet       object
CryoSleep          bool
Cabin            object
Destination      object
Age             float64
VIP                bool
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

We also know that